---
layout: default
---

<section class="portfolio">
    <div class="content-wrap portfolio-wrap">
        {% for post in site.categories[page.category-name] %}
            <div class="portfolio-item portfolio-column{{ post.featured_image_columns }}">
                <a class="portfolio-item__link" href="{{ post.url | relative_url }}">
                    <div class="portfolio-item__image">
                        <img src="{{ post.featured_image | relative_url }}" alt="{{ post.title }}">
                    </div>
                    <div class="portfolio-item__content">
                        <div class="portfolio-item__info">
                            <h2 class="portfolio-item__title">{{ post.title }}</h2>
                            <p class="portfolio-item__subtitle">{{ post.subtitle }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
